@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-blue: #0935b7;
  --color-dark-navy-blue: #0a1d37;
  --color-light-grey: #e1e5eb;
  --color-accent-aqua: #0077b6;

  /* Fonts */
  --font-poppins: "Poppins", "sans-serif";
  --font-rubik: "Rubik", "sans-serif";

  /* Font sizes */
  --text-h1: clamp(1.6rem, 4vw, 2.2rem);
  --text-h2: clamp(1.3rem, 3.4vw, 1.9rem);
  --text-h3: clamp(1.3rem, 3.5vw, 1.5rem);
  --text-p: clamp(0.95rem, 2.6vw, 1.1rem);
}

@utility text-h1 {
  font-size: var(--text-h1);
  font-weight: 700;
}

@utility text-h2 {
  font-size: var(--text-h2);
  font-weight: 700;
}

@utility text-body {
  font-size: var(--text-p);
  line-height: 1.55;
}
